dist
target
*.iml
*.ipr
*.iws
*.tar.gz
*.swp
*.swo
.classpath
.idea
spark-warehouse
.project
.settings/
*.log
*.DS_Store
_site
.cache-main
.cache-tests
/.ensime
/test
/.ensime_cache/
/.projectile
.metastore_db
metastore_db
